# frontend/.dockerignore

*Dockerfile*
.dockerignore
docker

.env
.env*.local

.git
.gitignore
.vscode


# Node
node_modules
npm-debug.log


# Next.js
.next


# Prisma
src/generated


# Project
*.txt
*.md
uploads
